[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
pdf2docx = "*"
django-widget-tweaks = "*"
uuid = "*"
pdf2pptx = "*"
pdf2image = "*"

[dev-packages]

[requires]
python_version = "3.12"
